<div class="toolbar" role="banner">
  <span>Arcade Token Tracking System</span>
    <div class="spacer"></div>
    
    <form #tokenForm="ngForm" (ngSubmit)="onTokenBuy(tokenForm.value)">
      <label>Buy Tokens ($0.25 each): </label>
      <input type="text" name="form_token_amount" ngModel>
      <button type="submit">Buy Now!</button>
    </form>
</div>

<div class="content" role="main">
  <h1>Tokens Available: {{totalTokens}}</h1>

  <!-- Resources -->
  <h2>Click to purchase a game: </h2>

  <div class="card-container">
    <button class="card" (click)="onBuyGame('Sonic', 4)">Sonic (4 tokens)</button>

    <button class="card" (click)="onBuyGame('Mario', 2)">Mario (2 tokens)</button>

    <button class="card" (click)="onBuyGame('Diablo', 8)">Diablo II (8 tokens)</button>
    <p *ngIf="error" style="color: red">You don't have enough tokens for this purchase!</p>
  </div>

  <app-token [ledger]="receivedLedger"></app-token>

</div>
